body{
  background-color: #eaf1f1;
}
header{
  text-align: center;
}
section{
  text-align: center;
}
.stuff{
  background-color: #9aa;
  min-height: 500px;
  margin-left: 20px;
  margin-right: 20px;
}
